body{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px auto;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#lock{
    display: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(0, 0, 0, 0.685);
    background-size: cover;
    z-index: 1;
}

#bookInput{
    display: none;
    grid-template-rows: repeat(10, auto);

    background-color: chocolate;
    border-radius: 1%;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    width: 25%;
    height: 65%;
    z-index: 2;
}

.lbl{
    display: grid;
    align-items: center;
    justify-items: center;
}

#readCOntainer{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
}

#topPanel{
    display: grid;
    background-image: url("images/topPanel.jpg");
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 200px;

}

#heading{
    font-size: 100px;

    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

#sidePanel{

    display: grid;

    background-image: url("images/sidePanel.jpg");
    background-size: contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 200px;
    height: 100%;

    align-items: center;
    justify-items: center;
}

#addBtn{
    width: 60%;
    height: 30%;
}

#library{
    display: grid;
    background-image: url("images/mainPanel.jpg");
    background-size: contain;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(1,500px);
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    
}